.messageArea {
    font-size: 22px;
    background: lightblue;
}

.inputArea {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}

.left {
    margin-left: 50%;
    border-radius: 7px;
    background-color: #cfd8dc;
    width:48%;
    padding:1%;
}
.right {
    border-radius: 7px;
    background-color: #cfd8dc;
    width:48%;
    padding:1%;

}

.classHide {
    display : none
}

.classShow{
    display : block;
}
.sendBy {
    font-size: 15px;

}
.main {
    width : 60%;
    margin: auto;

}
.logout {
    padding: 10px 30px;
    font-weight: bold;
    color: #FFF;
    background-color: #bdc3c7;
    background: linear-gradient(#bdc3c7, #95a5a6);
    border: none;
    outline: none;
    float: right;
}
.userName {
    width: 50%;
    font-size : 34px;
    font-weight : 500;
    margin-top: -6px;
}